<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.student.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.student.controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthFilter</servlet-name>
        <servlet-class>AuthFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilter</servlet-name>
        <servlet-class>filter.AdminFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.student.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authfilter</servlet-name>
        <servlet-class>filter.Authfilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthFilter</servlet-name>
        <url-pattern>/AuthFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilter</servlet-name>
        <url-pattern>/AdminFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authfilter</servlet-name>
        <url-pattern>/Authfilter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
